/* GLOBAL CSS */

/* base is added to individual route groups. Might just say fuck it and add it here one I kill the old CV */
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/InterVariableV3.ttf");
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/GeistMonoVariableVF.woff2");
}

@layer components {
  .link {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
